*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    }

.task-container{
    padding: 30px;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    border-radius: 10px;
    height: 50vmin;
}

h2{
    text-align: center;
    color: #FFDEE9;
}


.input-field{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

#new-task{
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline: none;
}

#add-task{
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: white;
}

.task-field{
   padding: 20px;
}

#task-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

#task-list li{
    display: flex;
    color: #B5FFFC;
    font-weight: 700;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    flex: 1;
}

.remove-element{
    border: none;
    outline: none;
    background-image: radial-gradient( circle farthest-corner at 17.1% 22.8%,  rgba(226,24,24,1) 0%, rgba(160,6,6,1) 90% );
    font-weight: bold;
    color: aliceblue;
    border-radius: 20px;
    padding: 10px;
    /* flex: 1; */
}

.edit-element{
    border: none;
    outline: none;
    background-image: radial-gradient( circle farthest-corner at 17.1% 22.8%,  rgba(226,24,24,1) 0%, rgba(160,6,6,1) 90% );
    font-weight: bold;
    padding: 10px;
    color: aliceblue;
    border-radius: 20px;
    padding: 5px;
    /* flex: 1; */
}

