*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: aliceblue;
    border: 1px black solid;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    min-width: 80vmin;
    min-height: 20vmin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    padding: 10px;
    margin: 10px;
    font-weight: lighter;
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.temperature{
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: cornsilk;
}

#cel{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#far{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;  
}

#convert{
    margin : 20px;
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
    border: 1px solid black;
    background-color: cornsilk;
    transition: 300ms;
}

#convert:hover{
    background-color: #fff;
}
