*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #f43534;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: aliceblue;
    padding: 40px;
    max-width: 80vmin;
    text-align: center;
    border-radius: 5px;
}

#quote{
    margin: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 24px;
}

#author{
    margin: 10px;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: large;
}

#generate{
    margin-top: 10px;
    background: transparent;
    border: none;
    background-color: #f43534;
    padding: 10px;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.3s;
}

#generate:hover{
    background-color: gainsboro;
    color: #f43534;
    /* border: 1px solid black; */
}
